<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="src/Views/style.css" rel="stylesheet">
    </head>
    <body class="body">
        {% include content_template_name %}
    </body>
</html>